<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section class="bg-green">
      <div class="container">
        <div class="row">
          <div class="col-3 h-200"></div>
          <div class="col-6 h-200"></div>
          <div class="col-3 h-200"></div>
        </div>
      </div>
    </section>
    <section class="bg-yellow p-sticky" >
      <div class="container">
        <div class="row">
          <div class="col-12 h-50 p-sticky">MENU</div>
        </div>
      </div>
    </section>
    <section class="bg-blue">
      <div class="container">
        <div class="row">
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
          <div class="col-3 h-250"></div>
        </div>
      </div>
    </section>
    <section class="bg-purple">
      <div class="container">
        <div class="row">
          <div class="col-3 h-600"></div>
          <div class="col-6 h-600"></div>
          <div class="col-3 h-600"></div>
        </div>
      </div>
    </section>
    <section class="bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
          <div class="col-3 h-200"></div>
        </div>
      </div>
    </section>
    <section class="bg-red">
      <div class="container">
        <div class="row">
          <div class="col-6 h-500"></div>
          <div class="col-6 h-500">
            <div class="row">
              <div class="col-6 h-200"></div>
              <div class="col-6 h-200"></div>
              <div class="col-6 h-300"></div>
              <div class="col-6 h-300"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-6 h-500"></div>
          <div class="col-6 h-500"></div>
        </div>
      </div>
    </section>
    <section class="bg-yellow">
      <div class="container">
        <div class="row">
          <div class="col-4 h-400"></div>
          <div class="col-4 h-400"></div>
          <div class="col-4 h-400"></div>
        </div>
      </div>
    </section>
    <section class="bg-green">
      <div class="container">
        <div class="row">
          <div class="col-3 h-600"></div>
          <div class="col-9 h-600"></div>
        </div>
      </div>
    </section>
    <section class="bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-6 h-600"></div>
          <div class="col-6 h-600"></div>
        </div>
      </div>
    </section>
    <section class="bg-yellow">
      <div class="container">
        <div class="row">
          <div class="col-12 h-100"></div>
        </div>
      </div>
    </section>
  </body>
</html>
